/* =============================================================================
  Mixins
============================================================================= */

// Table grid
@mixin table__row() {
  display: table;
  table-layout: fixed;
  width: 100%;
}

@mixin table__cell() {
  display: table-cell;
  vertical-align: top;
  height: 100%;
  width: 100%;
}

// Flex grid
@mixin flex__row() {
  display: flex;
}

// Links
@mixin link__white() {
  color: #fff;

  &:hover,
  &:focus {
    color: darken(#fff, 10%);
  }
}

@mixin link_black() {
  color: $gray-base;

  &:hover,
  &:focus {
    color: $brand-primary;
    text-decoration: none;
  }
}

@mixin link_muted() {
  color: $text-muted;

  &:hover,
  &:focus {
    color: $text-muted;
    text-decoration: none;
  }
}

@mixin link_primary() {
  color: $brand-primary;

  &:hover,
  &:focus {
    color: $brand-primary;
    text-decoration: none;
  }
}

@mixin link_success() {
  color: $brand-success;

  &:hover,
  &:focus {
    color: $brand-success;
    text-decoration: none;
  }
}

@mixin link_danger() {
  color: $brand-danger;

  &:hover,
  &:focus {
    color: $brand-danger;
    text-decoration: none;
  }
}

@mixin font_futura_heavy() {
  font-family: "Futura Heavy", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@mixin font_futura_t_bold() {
  font-family: "Futura T Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin seravek_bold() {
  font-family: "Seravek Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@mixin seravek_light() {
  font-family: "Seravek Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@mixin seravek_medium() {
  font-family: "Seravek Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@mixin seravek_regular() {
  font-family: "Seravek Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
